@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// @font-face {
//   font-family: "Karrik";
//   src: url("../fonts/karrik/fonts/Web/WOFF2/Karrik-Regular.woff2")
//       format("woff2"),
//     url("../fonts/karrik/fonts/Web/WOFF/Karrik-Regular.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
$font-sans: "Inter", sans-serif;

@mixin font-style($xs, $sm, $md, $lg, $xl, $letter-sp, $line-h) {
  font-family: $font-sans;
  font-size: $xs;
  font-optical-sizing: auto;
  letter-spacing: $letter-sp;
  line-height: $line-h;
  // font-weight: 400;
  @include media-breakpoint-up(sm) {
    font-size: $sm;
  }
  @include media-breakpoint-up(md) {
    font-size: $md;
  }
  @include media-breakpoint-up(lg) {
    font-size: $lg;
  }
  @include media-breakpoint-up(xl) {
    font-size: $xl;
  }
}

// ---------------------------------------------------- xs --- sm --- md --- lg --- xl ---- lsp ---- lh ---- w --- style

@mixin font-l {
  @include font-style(
    $xs: 36px,
    $sm: 36px,
    $md: 45px,
    $lg: 45px,
    $xl: 45px,
    // $xl: 2.4vw,
    $letter-sp: 0,
    $line-h: 1em
  );
}
.font-l {
  @include font-l;
}

@mixin font-s {
  @include font-style(
    $xs: 16px,
    $sm: 16px,
    $md: 17px,
    $lg: 17px,
    $xl: 17px,
    $letter-sp: 0,
    $line-h: 1.2em
  );
}
.font-s {
  @include font-s;
}
