@charset "UTF-8";

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$menu-h: 54px;
$space: 33px;
$yelo: #eaff00;
$gray: #eaeae8;

// -----------------------------------------------------------------------------
// External files import
// -----------------------------------------------------------------------------
@import "bootstrap-scss/_functions";
@import "bootstrap-scss/_variables";
@import "bootstrap-scss/mixins/_breakpoints";
@import "_reset";
@import "_typography";
@import "_mixins";
@import "_switch";
@import "hamburger-settings";
@import "hamburgers/hamburgers";

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.color-white {
  color: white;
}
.color-white-50 {
  color: rgba(white, 0.5);
}
.bg-white {
  background-color: white;
}
.bg-gray {
  background-color: $gray;
}
.h-menu-h {
  height: $menu-h;
}
.no-u {
  text-decoration: none;
}
.yes-u {
  text-decoration: underline;
}
.u-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.pointer {
  cursor: pointer;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: none;
}
.rounded {
  border-radius: $border-radius;
  overflow: hidden;
}
.uu {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10%;
}

.font-bold {
  font-weight: bold;
}

.p-space {
  padding: $space !important;
}
.px-space {
  padding-left: $space !important;
  padding-right: $space !important;
}
.pt-space {
  padding-top: $space !important;
}
.pb-space {
  padding-bottom: $space !important;
}
.py-space {
  padding-top: $space !important;
  padding-bottom: $space !important;
}
.space-1 {
  height: #{$space * 1};
}
.space-2 {
  height: #{$space * 2};
}
.space-3 {
  height: #{$space * 3};
}
.space-4 {
  height: #{$space * 4};
}
.space-6 {
  height: #{$space * 6};
}
.space-8 {
  height: #{$space * 8};
}

.fades {
  transition: opacity 200ms;
  &.hide {
    opacity: 0;
  }
}

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// :root {
//   --sidebar-width: 330px;
// }

// -----------------------------------------------------------------------------
// Tags
// -----------------------------------------------------------------------------

* {
  font-family: $font-sans;
  @include font-sans-s;
  // text-rendering: auto;
  // text-rendering: optimizeSpeed;
  // text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision; // OK on chrome
}

body {
  overflow-x: hidden;
  width: 100vw;
  background-color: white;
  color: black;
  &.media-open {
    overflow: hidden;
  }
}

main {
  padding-top: $menu-h;
  &.no-padding {
    padding-top: 0;
  }
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 7%;
  color: inherit;
  &.active {
    text-decoration: underline;
  }
}

p {
  @include font-sans-s;
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  position: relative;
  li {
    position: relative;
    padding: 0 0 0 22px;
    margin-bottom: 0.5em;
    p {
      margin: 0;
    }
    &::before {
      content: "→";
      position: absolute;
      left: 0;
      top: -2px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6em;
  font-weight: 600;
}
h1,
h1 a {
  @include font-sans-l;
  // text-transform: uppercase;
}
h2 {
  @include font-sans-l;
}
h3 {
  @include font-sans-l;
}
h4 {
  @include font-sans-m;
}
h5 {
  @include font-sans-s;
}
h6 {
  @include font-mono-s;
}

img {
  display: block;
  width: 100%;
}
figure {
  display: block;
  width: 100%;
  margin-top: $space;
  margin-bottom: $space;
  figcaption p,
  figcaption {
    @include font-sans-s;
    margin-top: 12px;
  }
  &[data-crop] {
    &[data-ratio="1/1"] img {
      aspect-ratio: 1/1;
    }
    &[data-ratio="16/9"] img {
      aspect-ratio: 16/9;
    }
    &[data-ratio="10/8"] img {
      aspect-ratio: 10/8;
    }
    &[data-ratio="21/9"] img {
      aspect-ratio: 21/9;
    }
    &[data-ratio="7/5"] img {
      aspect-ratio: 7/5;
    }
    &[data-ratio="4/3"] img {
      aspect-ratio: 4/3;
    }
    &[data-ratio="5/3"] img {
      aspect-ratio: 5/3;
    }
    &[data-ratio="3/2"] img {
      aspect-ratio: 3/2;
    }
    &[data-ratio="3/1"] img {
      aspect-ratio: 3/1;
    }

    img {
      // width: 100%;
      // height: 100%;
      object-fit: cover; /* Ensures cropping within the container */
      object-position: center; /* Centers the cropped content */
    }
  }
}

section {
  padding-top: $space;
  padding-bottom: $space;
  // @include media-breakpoint-down(xs) {
  //   padding-top: 0;
  //   padding-bottom: 0;
  // }
}

// -----------------------------------------------------------------------------
// REUSABLE PIECES
// -----------------------------------------------------------------------------

.only-dsk {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}
.only-mob {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.button {
  display: inline-block;
  background-color: $yelo;
  border-radius: 100px;
  padding: 0.5em 1em;
  align-items: center;
  justify-content: center;
}

.megabutton {
  width: 100%;
  height: 120px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column-reverse;
  padding: 8px 13px;
  @include font-sans-m;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
  @include media-breakpoint-up(xl) {
    max-width: 500px;
  }
  &:hover {
    background-color: $yelo;
  }
  &::after {
    content: "   ";
    align-self: flex-end;
    background-image: url("data:image/svg+xml,%3Csvg width='23px' height='23px' viewBox='0 0 23 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E↗%3C/title%3E%3Cg id='Icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' transform='translate(-746, -82)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='↗' transform='translate(746.7273, 82.8134)'%3E%3Cpolygon id='Path' points='2.99715909 22.1732955 0 19.1761364 15.0426136 4.11931818 3.62215909 4.11931818 3.65056818 -1.42108547e-14 22.1590909 -1.42108547e-14 22.1590909 18.5227273 18.0113636 18.5227273 18.0397727 7.11647727'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// -----------------------------------------------------------------------------
// SECTIONS
// -----------------------------------------------------------------------------

section.home-opening-image {
  aspect-ratio: 16/9;
  background-color: rgba(gray, 0.2);
  background-position: center center;
  background-size: cover;
  // max-height: 80vh;
  // max-min-width: 100vw;
  @include media-breakpoint-down(sm) {
    aspect-ratio: 1/1;
  }
}

// -----------------------------------------------------------------------------
// SPECIFIC
// -----------------------------------------------------------------------------

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $menu-h;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s;
  &.transparent {
    background-color: transparent;
    color: white;
  }
}
.menu-mobile {
  padding: 0 $space;
}

.menu-item {
  & + .menu-item {
    margin-left: 12px;
  }
}

.project-prev-image {
  aspect-ratio: 16 / 10;
  background-size: cover;
}

.project-opening {
  // $project-title-h: 86px;
  height: calc(100vh - #{$menu-h});
  position: relative;
  display: flex;
  // background-color: yellow;
  flex-flow: column nowrap;
  .project-opening-image {
    background-color: #f0f0f0;
    // height: calc(100% - #{$project-title-h});
    flex-grow: 1;
    background-size: cover;
  }
  .project-opening-texts {
    // height: $project-title-h;
    // padding-top: 22px;
    padding: 16px 0;
    // flex-grow: 1;
  }
}

footer {
  padding: $space 0;
  background-color: black;
  color: white;
}

// ------------------------------------------------------------------------
// LAYOUT
// ------------------------------------------------------------------------

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: $space;
  padding-right: $space;
  @include media-breakpoint-down(xs) {
    padding-left: 15px;
    padding-right: 15px;
  }
  &.no-max-width {
    max-width: none;
    // padding-left: $space !important;
    // padding-right: $space !important;
  }
}

// -----------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// -----------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
