@charset "UTF-8";

// @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-4.1/web/InterVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

$font-sans: "Inter", sans-serif;
$font-mono: "Roboto Mono", monospace;

@mixin font-style($ff, $xs, $sm, $md, $lg, $xl, $letter-sp, $line-h) {
  font-family: $ff;
  font-size: $xs;
  font-optical-sizing: auto;
  letter-spacing: $letter-sp;
  line-height: $line-h;
  // font-weight: 400;
  @include media-breakpoint-up(sm) {
    font-size: $sm;
  }
  @include media-breakpoint-up(md) {
    font-size: $md;
  }
  @include media-breakpoint-up(lg) {
    font-size: $lg;
  }
  @include media-breakpoint-up(xl) {
    font-size: $xl;
  }
}

// ---------------------------------------------------- xs --- sm --- md --- lg --- xl ---- lsp ---- lh ---- w --- style

@mixin font-sans-l {
  @include font-style(
    $ff: $font-sans,
    $xs: 32px,
    $sm: 36px,
    $md: 45px,
    $lg: 45px,
    $xl: 45px,
    // $xl: 2.4vw,
    $letter-sp: 0,
    $line-h: 1.05em
  );
}
.font-sans-l {
  @include font-sans-l;
}

@mixin font-sans-m {
  @include font-style(
    $ff: $font-sans,
    $xs: 18px,
    $sm: 18px,
    $md: 20px,
    $lg: 20px,
    $xl: 20px,
    // $xl: 2.4vw,
    $letter-sp: 0,
    $line-h: 1.3em
  );
}
.font-sans-m {
  @include font-sans-m;
}

@mixin font-sans-s {
  @include font-style(
    $ff: $font-sans,
    $xs: 15px,
    $sm: 15px,
    $md: 16px,
    $lg: 17px,
    $xl: 17px,
    $letter-sp: 0,
    $line-h: 1.25em
  );
}
.font-sans-s {
  @include font-sans-s;
}

@mixin font-sans-xs {
  @include font-style(
    $ff: $font-sans,
    $xs: 13px,
    $sm: 13px,
    $md: 13px,
    $lg: 13px,
    $xl: 13px,
    $letter-sp: 0,
    $line-h: 1.25em
  );
}
.font-sans-xs {
  @include font-sans-xs;
}

@mixin font-mono-s {
  @include font-style(
    $ff: $font-mono,
    $xs: 16px,
    $sm: 16px,
    $md: 17px,
    $lg: 17px,
    $xl: 17px,
    $letter-sp: 0,
    $line-h: 1.25em
  );
}
.font-mono-s {
  @include font-mono-s;
}

@mixin font-mono-xs {
  @include font-style(
    $ff: $font-mono,
    $xs: 13px,
    $sm: 13px,
    $md: 13px,
    $lg: 13px,
    $xl: 13px,
    $letter-sp: 0,
    $line-h: 1.25em
  );
}
.font-mono-xs {
  @include font-mono-xs;
}
