@charset "UTF-8";

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$menu-h: 62px;
$space: 33px;
$yelo: #eaff00;
$melma: #b4b76d;
$green1: #6aa560;
$green2: #3d5d38;
$gray: #eaeae8;

// -----------------------------------------------------------------------------
// External files import
// -----------------------------------------------------------------------------
@import "bootstrap-scss/_functions";
@import "bootstrap-scss/_variables";
@import "bootstrap-scss/mixins/_breakpoints";
@import "_reset";
@import "_typography";
@import "_mixins";
@import "_switch";
@import "hamburger-settings";
@import "hamburgers/hamburgers";

// -----------------------------------------------------------------------------
// Utilities
// -----------------------------------------------------------------------------

.color-white {
  color: white;
}
.color-white-50 {
  color: rgba(white, 0.5);
}
.bg-white {
  background-color: white;
}
.bg-gray {
  background-color: $gray;
}
.bg-melma {
  background-color: $melma;
}
.color-melma {
  color: $melma;
}
.h-menu-h {
  height: $menu-h;
}
.no-u {
  text-decoration: none;
}
.yes-u {
  text-decoration: underline;
}
.u-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.pointer {
  cursor: pointer;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: none;
}
.rounded {
  border-radius: $border-radius;
  overflow: hidden;
}
.uu {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10%;
}

.font-bold {
  font-weight: bold;
}

.p-space {
  padding: $space !important;
}
.px-space {
  padding-left: $space !important;
  padding-right: $space !important;
}
.pt-space {
  padding-top: $space !important;
}
.pb-space {
  padding-bottom: $space !important;
}
.py-space {
  padding-top: $space !important;
  padding-bottom: $space !important;
}
.space-1 {
  height: #{$space * 1};
}
.space-2 {
  height: #{$space * 2};
}
.space-3 {
  height: #{$space * 3};
}
.space-4 {
  height: #{$space * 4};
}
.space-6 {
  height: #{$space * 6};
}
.space-8 {
  height: #{$space * 8};
}

.fades {
  transition: opacity 200ms;
  &.hide {
    opacity: 0;
  }
}

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// :root {
//   --sidebar-width: 330px;
// }

// -----------------------------------------------------------------------------
// Tags
// -----------------------------------------------------------------------------

* {
  font-family: $font-sans;
  // text-rendering: auto;
  // text-rendering: optimizeSpeed;
  // text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision; // OK on chrome
}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  background-color: white;
  @include font-sans-s;
  color: black;
  &.media-open {
    overflow: hidden;
  }
}

main {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
  padding-top: $menu-h;
  &.no-padding {
    padding-top: 0;
  }
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
  // text-decoration: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 7%;
  color: inherit;
  &.active {
    text-decoration: underline;
  }
}

p {
  @include font-sans-m;
  margin-bottom: 1em;
  strong {
    font-weight: 600;
    @include font-sans-m;
  }
}

ul {
  list-style-type: none;
  position: relative;
  li {
    position: relative;
    padding: 0 0 0 22px;
    margin-bottom: 0.5em;
    p {
      margin: 0;
    }
    &::before {
      content: "→";
      position: absolute;
      left: 0;
      top: -2px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6em;
  font-weight: 600;
}
h1,
h1 a {
  @include font-sans-l;
  // text-transform: uppercase;
}
h2 {
  @include font-style(
    $ff: $font-sans,
    $xs: 2rem,
    $sm: 2rem,
    $md: 2.2rem,
    $lg: 2.2rem,
    $xl: 2.2rem,
    $letter-sp: 0,
    $line-h: 1.05em
  );
}
h3 {
  @include font-style(
    $ff: $font-sans,
    $xs: 1.5rem,
    $sm: 1.5rem,
    $md: 1.8rem,
    $lg: 1.8rem,
    $xl: 1.8rem,
    $letter-sp: 0,
    $line-h: 1.05em
  );
}
h4 {
  @include font-sans-m;
}
h5 {
  @include font-sans-s;
}
h6 {
  @include font-mono-s;
}

img {
  display: block;
  width: 100%;
}
figure {
  display: block;
  width: 100%;
  margin-top: $space;
  margin-bottom: $space;
  figcaption p,
  figcaption {
    @include font-sans-s;
    margin-top: 12px;
  }
  &[data-crop] {
    &[data-ratio="1/1"] img {
      aspect-ratio: 1/1;
    }
    &[data-ratio="16/9"] img {
      aspect-ratio: 16/9;
    }
    &[data-ratio="10/8"] img {
      aspect-ratio: 10/8;
    }
    &[data-ratio="21/9"] img {
      aspect-ratio: 21/9;
    }
    &[data-ratio="7/5"] img {
      aspect-ratio: 7/5;
    }
    &[data-ratio="4/3"] img {
      aspect-ratio: 4/3;
    }
    &[data-ratio="5/3"] img {
      aspect-ratio: 5/3;
    }
    &[data-ratio="3/2"] img {
      aspect-ratio: 3/2;
    }
    &[data-ratio="3/1"] img {
      aspect-ratio: 3/1;
    }

    img {
      // width: 100%;
      // height: 100%;
      object-fit: cover; /* Ensures cropping within the container */
      object-position: center; /* Centers the cropped content */
    }
  }
}

section {
  padding-top: $space;
  padding-bottom: $space;
  // @include media-breakpoint-down(xs) {
  //   padding-top: 0;
  //   padding-bottom: 0;
  // }
}

// -----------------------------------------------------------------------------
// REUSABLE PIECES
// -----------------------------------------------------------------------------

.only-dsk {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}
.only-mob {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.button {
  display: inline-block;
  background-color: $yelo;
  border-radius: 5px;
  padding: 0.3em 0.7em;
  padding: 6px 12px;
  font-weight: 600;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  color: black;
  transition: all 0.1s;
  text-decoration: none;
  &:hover {
    // background-color: $green1;
    // color: white;
    background-color: $green2;
    background-color: $green1;
  }

  &[data-icon]::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -5px 3px -5px -5px;
  }
  &[data-icon="download"]::before {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='20px' height='20px' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ei-btn-download%3C/title%3E%3Cg id='i-btn-download' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Path' stroke='%23000000' stroke-width='0.3' fill='%23000000' fill-rule='nonzero' points='10.7329545 2.47051068 10.7329545 11.4023289 14.1363636 7.98755614 15.1704545 9.01028341 9.99431818 14.1750561 4.82954545 9.01028341 5.84090909 7.98755614 9.25568182 11.4023289 9.25568182 2.47051068'%3E%3C/polygon%3E%3Cpolygon id='Path' stroke='%23000000' stroke-width='0.3' fill='%23000000' fill-rule='nonzero' points='14.6903409 16.0863075 14.6903409 17.5294893 5.29829545 17.5294893 5.29829545 16.0863075'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
  }
  &[disabled] {
    pointer-events: none;
    background-color: #666;
  }
}

.megabutton-v2 {
  z-index: 3;
  width: 100%;
  height: 120px;
  position: relative;
  @include media-breakpoint-up(xl) {
    max-width: 500px;
  }
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: pink;
    border: 2px solid black;
    transition: all 0.1s;
    &.layer-main {
      z-index: 3;
      border: 2px solid black;
      background-color: white;
      background-color: $yelo;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: stretch;
      flex-direction: column-reverse;
      padding: 12px 13px 8px 13px;
      text-decoration: none;
      @include font-sans-m;
      font-weight: 600;
      text-transform: uppercase;
      &::after {
        content: "   ";
        align-self: flex-end;
        $color: "000000";
        background-image: url("data:image/svg+xml,%3Csvg width='23px' height='23px' viewBox='0 0 23 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E↗%3C/title%3E%3Cg id='Icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' transform='translate(-746, -82)' fill='%23#{$color}' fill-rule='nonzero'%3E%3Cg id='↗' transform='translate(746.7273, 82.8134)'%3E%3Cpolygon id='Path' points='2.99715909 22.1732955 0 19.1761364 15.0426136 4.11931818 3.62215909 4.11931818 3.65056818 -1.42108547e-14 22.1590909 -1.42108547e-14 22.1590909 18.5227273 18.0113636 18.5227273 18.0397727 7.11647727'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &.layer-middle {
      z-index: 2;
    }
    &.layer-below {
      z-index: 1;
    }
  }
  &:hover {
    .layer-middle {
      background-color: $green1;
      transform: translate(-10px, 10px);
    }
    .layer-below {
      background-color: $green2;
      transform: translate(-20px, 20px);
    }
  }
}

// .megabutton-v1 {
//   width: 100%;
//   height: 120px;
//   border: 2px solid black;
//   border-radius: 10px;
//   background-color: white;
//   background-color: $yelo;
//   display: flex;
//   flex-flow: column nowrap;
//   justify-content: space-between;
//   align-items: stretch;
//   flex-direction: column-reverse;
//   padding: 12px 13px 8px 13px;
//   text-decoration: none;
//   @include font-sans-m;
//   font-weight: 600;
//   text-transform: uppercase;
//   transition: all 0.2s;
//   @include media-breakpoint-up(xl) {
//     max-width: 500px;
//   }
//   &:hover {
//     background-color: $yelo;
//     background-color: white;
//     background-color: black;
//     background-color: $green1;
//     // color: white;
//     &::after {
//       // $color: "FFFFFF";
//       // background-image: url("data:image/svg+xml,%3Csvg width='23px' height='23px' viewBox='0 0 23 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E↗%3C/title%3E%3Cg id='Icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' transform='translate(-746, -82)' fill='%23#{$color}' fill-rule='nonzero'%3E%3Cg id='↗' transform='translate(746.7273, 82.8134)'%3E%3Cpolygon id='Path' points='2.99715909 22.1732955 0 19.1761364 15.0426136 4.11931818 3.62215909 4.11931818 3.65056818 -1.42108547e-14 22.1590909 -1.42108547e-14 22.1590909 18.5227273 18.0113636 18.5227273 18.0397727 7.11647727'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//     }
//   }
//   &::after {
//     content: "   ";
//     align-self: flex-end;
//     $color: "000000";
//     background-image: url("data:image/svg+xml,%3Csvg width='23px' height='23px' viewBox='0 0 23 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E↗%3C/title%3E%3Cg id='Icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' transform='translate(-746, -82)' fill='%23#{$color}' fill-rule='nonzero'%3E%3Cg id='↗' transform='translate(746.7273, 82.8134)'%3E%3Cpolygon id='Path' points='2.99715909 22.1732955 0 19.1761364 15.0426136 4.11931818 3.62215909 4.11931818 3.65056818 -1.42108547e-14 22.1590909 -1.42108547e-14 22.1590909 18.5227273 18.0113636 18.5227273 18.0397727 7.11647727'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//     background-repeat: no-repeat;
//     background-size: contain;
//   }
// }

.icon-web-before::before {
  content: "   ";
  display: inline-block;
  width: 26px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  position: relative;
  top: 2px;
  $color: "000000";
  $color: "b4b76d";
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='21px' viewBox='0 0 21 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECombined Shape%3C/title%3E%3Cg id='Icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' transform='translate(-842, -88)' fill='%23#{$color}' fill-rule='nonzero'%3E%3Cpath d='M852.981787,88.5182131 C858.504634,88.5182131 862.981787,92.9953656 862.981787,98.5182131 C862.981787,104.041061 858.504634,108.518213 852.981787,108.518213 C847.458939,108.518213 842.981787,104.041061 842.981787,98.5182131 C842.981787,92.9953656 847.458939,88.5182131 852.981787,88.5182131 Z M854.986665,102.599809 L850.976908,102.599809 C851.423716,104.097647 852.112014,105.409362 852.98162,106.40856 C853.85156,105.409362 854.539858,104.097647 854.986665,102.599809 Z M850.290022,106.05408 L850.200469,105.897462 C849.646276,104.906349 849.207895,103.793182 848.902257,102.600029 L846.100033,102.600046 C847.044628,104.189157 848.523996,105.423206 850.290022,106.05408 Z M859.863541,102.600046 L857.061317,102.600029 C856.739416,103.85667 856.27027,105.024586 855.673657,106.054631 C857.439578,105.423206 858.918946,104.189157 859.863541,102.600046 Z M860.751315,96.6039651 L857.458015,96.6038675 C857.529178,97.2302322 857.565769,97.8700208 857.565769,98.5182131 C857.565769,99.2242843 857.522351,99.9203859 857.438126,100.60003 L860.70835,100.599575 C860.886682,99.9359193 860.981787,99.2381727 860.981787,98.5182131 C860.981787,97.8584284 860.901916,97.2172985 860.751315,96.6039651 Z M844.981787,98.5182131 C844.981787,99.2381727 845.076892,99.9359193 845.255223,100.599575 L848.525447,100.60003 C848.441222,99.9203859 848.397805,99.2242843 848.397805,98.5182131 C848.397805,97.8700208 848.434396,97.2302322 848.505558,96.6038675 L845.212259,96.6039651 C845.061658,97.2172985 844.981787,97.8584284 844.981787,98.5182131 Z M855.443333,96.6035181 L850.520241,96.6035181 C850.439708,97.225643 850.397805,97.8661667 850.397805,98.5182131 C850.397805,99.2286743 850.447552,99.9254591 850.542813,100.599675 L855.42076,100.599675 C855.516021,99.9254591 855.565769,99.2286743 855.565769,98.5182131 C855.565769,97.8661667 855.523866,97.225643 855.443333,96.6035181 Z M855.672548,90.9819882 L855.762659,91.1382914 C856.342858,92.1756687 856.796156,93.3468376 857.103129,94.6035294 L859.96009,94.6033617 C859.021269,92.9334802 857.500405,91.6346732 855.672548,90.9819882 Z M850.290072,90.9816597 L850.14121,91.0371883 C848.380116,91.706253 846.916536,92.9793157 846.003483,94.6033617 L848.860445,94.6035294 C849.18297,93.2831706 849.667022,92.0572197 850.290072,90.9816597 Z M852.982357,90.6286052 L852.974106,90.6367868 C852.076059,91.6716106 851.372008,93.0402588 850.928503,94.6029705 L855.03507,94.6029705 C854.590396,93.0361368 853.883799,91.6643919 852.982357,90.6286052 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

// -----------------------------------------------------------------------------
// SECTIONS
// -----------------------------------------------------------------------------

section.home-opening-image {
  padding: 0;
  .image {
    background-color: $melma;
    background-position: center center;
    background-size: cover;
    // max-height: 80vh;
    // max-min-width: 100vw;
    aspect-ratio: 1/1;
    aspect-ratio: 4/5;
    @include media-breakpoint-up(md) {
      aspect-ratio: 16/9;
    }
    @include media-breakpoint-up(xl) {
      aspect-ratio: auto;
      height: 75vh;
    }
  }
}

.item-with-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .icon {
    margin-right: $space;
    img {
      width: 160px;
      min-width: 160px;
      display: inline-block;
    }
  }
  @include media-breakpoint-down(xs) {
    display: block;
    .icon {
      margin: #{$space * 2} 0 $space 0;
      text-align: center;
    }
  }

  .text {
  }
}

.partner-logo {
  max-width: 160px;
  @include media-breakpoint-up(md) {
    // max-width: 30%;
  }
  margin: 80px 50px 30px 0px;
}

// -----------------------------------------------------------------------------
// SPECIFIC
// -----------------------------------------------------------------------------

.menu {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $menu-h;
  max-height: $menu-h;
  background-color: $melma;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s;
  &.transparent {
    background-color: transparent;
    color: white;
    #header-logo::before {
      background-image: url("../images/logo-color-white.svg");
      // background-image: url("../images/logo-white-white.svg");
    }
  }
  &.white {
    background-color: white;
  }
  &.melma {
    background-color: $melma;
  }
  #header-logo::before {
    content: "";
    // width: 170px;
    height: 31px;
    aspect-ratio: 5.39 / 1;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url("../images/logo-color-black.svg");
    @include media-breakpoint-down(xs) {
      aspect-ratio: 0.95 / 1;
      height: 31px;
      background-size: cover;
    }
  }
  .menu-item {
    font-weight: 600;
    text-decoration: none;
    & + .menu-item {
      margin-left: 18px;
    }
  }
}
.menu-mobile {
  padding: 0 $space;
}

// .article-prev-image {
//   aspect-ratio: 16 / 10;
//   background-size: cover;
// }

.article-opening {
  // $article-title-h: 86px;
  // height: calc(100vh - #{$menu-h});
  position: relative;
  // display: flex;
  // background-color: yellow;
  // flex-flow: column nowrap;
  .article-opening-image {
    background-color: #f0f0f0;
    // height: calc(100% - #{$article-title-h});
    flex-grow: 1;
    background-size: cover;
    position: relative;
    aspect-ratio: 1/1;
    @include media-breakpoint-up(md) {
      aspect-ratio: 16/9;
    }
    @include media-breakpoint-up(xl) {
      aspect-ratio: auto;
      height: 75vh;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 120px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    }
    .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center center;
      opacity: 0.8;
      filter: grayscale(1);
    }
    .pattern {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../images/pattern-w0.5.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 0.7;
    }
  }
  .article-opening-texts {
    // height: $article-title-h;
    // padding-top: 22px;
    background-color: $melma;
    padding: 80px 0;
    // flex-grow: 1;
  }
}

.article-preview {
  text-decoration: none;
  display: block;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  height: 100%;
  &:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    .image-cont {
      background-color: rgba(0, 0, 0, 0.5);
      .image {
        transform: scale(1.015);
        // filter: grayscale(0);
      }
      .pattern {
        transform: scale(1.015);
      }
    }
  }
  .image-cont {
    aspect-ratio: 16 / 10;
    position: relative;
    background-color: $gray;
    overflow: hidden;
    transition: all 0.42s;
    .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: all 0.42s;
      bottom: 0;
      background-size: cover;
      background-position: center center;
      opacity: 0.8;
      filter: grayscale(1);
    }
    .pattern {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: all 0.42s;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1);
      background-image: url("../images/pattern-w1.5.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
  .text {
    padding: 30px;
    .label {
      @include font-mono-xs;
      font-weight: 500;
      margin-bottom: 0.5em;
    }
    .title {
      @include font-sans-m;
      font-weight: 600;
      // margin-bottom: 0.5em;
    }
  }
}

footer {
  padding: $space 0;
  background-color: black;
  color: white;
}

// ------------------------------------------------------------------------
// LAYOUT
// ------------------------------------------------------------------------

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: $space;
  padding-right: $space;
  // @include media-breakpoint-down(xs) {
  //   padding-left: 15px;
  //   padding-right: 15px;
  // }
  &.no-max-width {
    max-width: none;
    // padding-left: $space !important;
    // padding-right: $space !important;
    @include media-breakpoint-down(xs) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

// -----------------------------------------------------------------------------
// GDPR BANNER ETC
// -----------------------------------------------------------------------------

// #open_preferences_center {
//   display: none;
// }

// -----------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// -----------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
